<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DEVAUX Guillaume" />
	<meta name="format-detection" content="telephone=no">
	
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<title></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
	
	<link rel="stylesheet" type="text/css" href="{{ asset('css/plugins.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/templete.css') }}">
	<link class="skin" rel="stylesheet" type="text/css" href="{{ asset('css/skin/skin-1.css') }}">
    {% block stylesheets %}{% endblock %}

    </head>
 <body id="bg">
    <div class="page-wraper">
        <!--<div id="loading-area" class="loading-1">
            <h1 class="loader1">Loading</h1>
        </div>-->
        <header class="site-header header mo-left">
            {% include '_partials/top-bar.html.twig' %}
            {{ render (controller('App\\Controller\\Api\\CategoryController::Category')) }}
        </header>
        {% block body %}{% endblock %}
        {% include '_partials/footer.html.twig' %}

        <button class="scroltop fa fa-chevron-up" ></button>
    </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script><!-- JQUERY.MIN JS -->
        <script src="{{ asset('plugins/wow/wow.js') }}"></script><!-- WOW JS -->
        <script src="{{ asset('plugins/bootstrap/js/popper.min.js') }}"></script><!-- BOOTSTRAP.MIN JS -->
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script><!-- BOOTSTRAP.MIN JS -->
        <script src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script><!-- FORM JS -->
        <script src="{{ asset('plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js') }}"></script><!-- FORM JS -->
        <script src="{{ asset('plugins/lightgallery/js/lightgallery-all.min.js') }}"></script><!-- LIGHTGALLERY JS -->
        <script src="{{ asset('plugins/magnific-popup/magnific-popup.js') }}"></script><!-- LIGHTGALLERY JS -->
        <script src="{{ asset('plugins/counter/waypoints-min.js') }}"></script><!-- WAYPOINTS JS -->
        <script src="{{ asset('plugins/counter/counterup.min.js') }}"></script><!-- COUNTERUP JS -->
        <script src="{{ asset('plugins/imagesloaded/imagesloaded.js') }}"></script><!-- IMAGESLOADED -->
        <script src="{{ asset('plugins/masonry/masonry-3.1.4.js') }}"></script><!-- MASONRY -->
        <script src="{{ asset('plugins/masonry/masonry.filter.js') }}"></script><!-- MASONRY -->
        <script src="{{ asset('plugins/owl-carousel/owl.carousel.js') }}"></script><!-- OWL SLIDER -->
        <script src="{{ asset('plugins/scroll/scrollbar.min.js') }}"></script><!-- OWL SLIDER -->
        <script src="{{ asset('js/custom.js') }}"></script><!-- CUSTOM FUCTIONS  -->
        <script src="{{ asset('js/dz.carousel.js') }}"></script><!-- SORTCODE FUCTIONS -->
        <script src="{{ asset('js/dz.ajax.js') }}"></script><!-- CONTACT JS  -->
        <script src="{{ asset('plugins/loading/anime.js') }}"></script><!-- LOADING JS -->
        <script src="{{ asset('plugins/loading/anime-app.js') }}"></script><!-- LOADING JS -->
    </body>
</html>
